* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d5ddfd;
    padding: 20px;
    font-family: "Ubuntu";
    margin: 0;
}

header {
    padding: 20px;
    background-color: #4537c2;
    color:white;
}

h1 {
    display: inline-block;
    font-family: "Kaushan Script";
    font-size: 48px;
    margin-left: 20px; 
    margin-right: 20px; 
}

nav {
    margin-right: 20px;
    margin-top:0;
    float: right;
    font-family: "Ubuntu";
    font-size: 20px;
}

.nav {
    list-style-type: none; 
}

.nav-item {
    display: inline-block;
    margin-left: 10px; 
    margin-right: 10px; 
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover{
  color: rgb(252, 232, 120);
}

p {
    font-size: 16px;
    margin-bottom:0px;
}

main { 
    margin-top:100px;
}

h3 {
    font-weight: bold;
    color: white;
}

h4 {
    font-weight: bold;
    margin-right: 5px;
    border-bottom: solid black;
    width: 100%;
}

h5 {
    color: #4537c2;
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

article {
    margin-top: 3em; 
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.articleHeading {
    background-color: #6488ff;
    color:white;
    margin-top: 1em;
}

#feature {
    background-color: #a4b8fa;
    padding: 20px;
    margin-bottom: 20px;
}

#list {
    font-size: 16px;
    list-style-type: disc;
    list-style-position: inside;
}
/* ///////////////////////// INDEX.HTML ////////////////////////// */
.background {
    background-image: url("../images/conference.JPG");
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 0;
    margin: auto 0;
    height: 90vh;
    z-index:0;
}

#index-body {
    font: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    padding: 0;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
    background-size: cover;
    z-index:1;
}

.container {
    background-color: #d5ddfd;
    padding-top: 10px;
    margin-top:0px;	
    margin-left:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 530px;
    height: 185px;
    float: left;
    z-index:2;		
}
 
h2 {
    color: #4537c2;    
}

#intro {
    float: left;
    padding-left: 5px;
    width: 20%;
    text-align: center;
}  

#main-bio {
    float: left;
    margin-left: 50px;
    margin-top: 0;
    width: 70%;
    text-align: center;
}  

#bio-image {
    float: left;
    width: 150px;
    border-radius: 10px;
}    

/* ///////////////////////// END OF INDEX.HTML /////////////////// */


/* ///////////////////////// ABOUT.HTML ////////////////////////// */
#major {
    margin-left: 10px;
}

#about-image {
    max-height: 90px;
    margin-bottom: 15px;
}

.float-left {
    float: left;
    margin-right: 5px;
}
/* ///////////////////// END OF ABOUT.HTML /////////////////////// */ 


/*///////////////////////// PORTFOLIO.HTML //////////////////////////*/
#portfolioheading {
    width:100%;
    margin-top: 10em;
}

#portfolio {
    width:100%;
}

#featurePortfolioHeading {
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
}

.card {
    margin:20px;
    height: 80vh;
    min-width: 200px;
}

#card-image {
    height: 25vh;
}

#button {
    margin-bottom: 10px;
    padding: 3px;    
}

#front {
    background-color: #b3e6cc;
    width:33.3%;
    margin-right:0px;
}

#back {
    background-color: palegoldenrod;
    width:33.3%;
    margin-right:0px;
}

#other {
    background-color: #ffcc99;
    width:33.4%;
    margin-left:0px;
} 

.carousel-item {
    height: 13em;
}

/*///////////////////////// END OF PORTFOLIO.HTML ///////////////////*/


/*///////////////////////// CONTACT.HTML ///////////////////////////*/
#social {
    max-height: 90px;
    padding-top:10px;
    padding-bottom:10px;
    display:block;
    margin:auto;
    justify-content: center;
} 

/* input[type=email], input[type=text], textarea {
    width: 100%;
    resize: vertical;
  }
///////////////////////// END OF CONTACT.HTML /////////////////////*/


/*///////////////////////// MEDIA QUERIES ////////////////////////// */ 

@media screen and (max-width: 950px) {
    header {
        text-align: center;
        justify-content: center;
        margin:0;
        float: none;
    }    
    nav, .nav {
        text-align: center;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin:0,0,0,0;
        float: none;
    }    
    .nav-item {
        margin: 0;
        justify-content: center;
    }
    main {
        margin-top: 10em;
    }        
    #front, #back, #other {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
        margin: 0,0,0,0;
        border-radius: 0;
        position: fixed;
        top: 10em;
    }
    #indexmain {
        margin: 0;
    }
    .background {
        background-image: url("../images/conferenceheader.JPG");
    }
    h1 {
        font-size: 2em;    
    }
    nav {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 505px) {
    .background {
        background-image: url("../images/conferenceheader6.JPG");
    }
    .container {
        position: fixed;
        top: 8em;
        left: 0;
    }          
    #bio-image {
        float: left;
        width: 100px;
        height: 120px;
        border-radius: 10px;
    }        
    h2 {
        font-size: 1.3em;
    }     
    #main-bio {    
        float: left;
        margin-left: 30px;
        margin-top: 0;
        width: 70%;
        text-align: center; 
    }  
}         
@media screen and (max-width: 340px) {
    header {
        padding: 0;
    }
    h1 {
        font-size: 1.7em;    
        padding-top: 1.5em;
    }
    nav {
        font-size: 0.6em;    
    }    
}     